    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="product-slider" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active game_picture_wrap">
                                <img src="<%=game.picture%>" class="d-block">
                            </div>
                        </div>
 
                    </div>
                </div>
                <div class="game-body col-md-4  mt-5">
                    <p class="new-arrival text-center">NEW</p>
                    <h2><%=game.title%></h2>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <div class="row mt-5"></div>

                        <p id="genre"><b>Genre:</b> <%=game.genre%></p>
                        <p id="company"><b>Publisher:</b> <%=game.publisher%></p>     
                    </p>
                    <div class="product-price">
                       <h2><p id="price">$<%=game.price%>.00</p></h2>   
                        <div class="button">
                            <%if(user!=null){%>
                          <div class="row mt-5"></div>


                          <a class="btn btn-lg btn-success float mt-5" href="/add-to-cart/<%=game.id%>" role="button"><i class="fas fa-cart-plus"></i> ADD TO CART</a>
                                <%}else{%>
                                    <a class="btn btn-lg btn-success float" href="/users/login" role="button"><i class="fas fa-sign-in-alt"></i> LOGIN TO PURCHASE</a>
                                    <%}%>
                        </div>      
                    </div>
                  </div>
            </div>
            <hr>
        </div>
    </section>
    

    <!-------------product-desription-------->
    <section class="product-description">
        <div class="container ">
            <h4><b>Game Description</b></h4>
            <p id="description"><%=game.description%></p><br>
            
        </div>
    </section>
